@import '../../../assets/styles/setup/variables';

.chat-list-header {
    background-color: $secondery-green;
    position: relative;
    z-index: 50;

    .logo-container {
        gap: 10px;
        min-height: 53px;

        p {
            color: white;
            font-size: 1.2em;
        }

        .img-container {
            height: 45px;
            width: 45px;
            margin: 4px;
            border-radius: 50%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .tools {
        gap: 10px;
    }

    
    
    span {
        color: white;
        user-select: none;
        
        &:hover {
            cursor: pointer
        }
    }
    
}
.options {
    position: absolute;
    top: -100px;
    visibility: none;
    right: 0;
    z-index: -10;
    width: 120px;
    background-color: $bgc-primery;
    // border-radius: 8px;

    border-bottom-left-radius: 6px;
    gap: 5px;
    transition: 0.3s;

    li {
        padding: 3px;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
    &.open {
        top: 53px;
        visibility: visible;
        z-index: 10;
    }
}