<section class="chat-list-header main-layout">
    <div class="flex space-between align-center">
        <div class="flex align-center logo-container">
            <div class="img-container">
                <img src="https://res.cloudinary.com/dtcqwwf0m/image/upload/v1674483580/whatsapp/avatar-person_fpflei.png">
            </div>
            <p>WhatsApp</p>
        </div>

        <div class="options flex">
            <span class="material-symbols-outlined menu">
                more_vert
            </span>

            <span class="material-symbols-outlined new-chat">
                comment
            </span>
        </div>
    </div>
</section>