<section class="chat-list-header main-layout">
    <div class="flex space-between align-center">
        <div class="flex align-center logo-container">
            <div class="img-container" *ngIf="isChatList">
                <img
                    src="https://res.cloudinary.com/dtcqwwf0m/image/upload/v1674483580/whatsapp/avatar-person_fpflei.png">
            </div>
            <div *ngIf="!isChatList" class="flex align-center">
                <span class="material-symbols-outlined menu" title="back" (click)="back()">
                    arrow_back
                </span>
            </div>
            <p>{{isChatList?'WhatsApp':'contacts'}}</p>
        </div>

        <div class="tools flex" *ngIf="isChatList">
            <div>
                <span class="material-symbols-outlined menu" title="More options" (click)="openOptions()">
                    more_vert
                </span>
               
            </div>

            <span class="material-symbols-outlined new-chat" title="New chat" (click)="addChat()">
                add
            </span>
        </div>

    </div>
</section>
<div class="options-container" (clickOutside)="closeOptions()" [class.open]="optionsOpen">
  <options-dropdown (loggedOut)="logout()" [headerType]="'chat-list'"/>  
</div>

