<section class="chat-content" *ngIf="loggedInUser">
    <chat-header [participants]="chat?.isGroup?chat.participants:null" [groupName]="chat?chat.name:newChatUser?.fullName" [imgUrl]="avatarImage"
        [isGroup]="chat?chat.isGroup:newChatIsGroup"/>
   
    <div class="messages-container flex column" *ngIf="chat">

        <div  *ngFor="let message of chat.messages" [class.owner-message]="checkOwner(message.from)"
            class="message-container flex column">

            <p *ngIf="message.type === MessageType.Text" class="content"> {{message.content}}</p>

            <audio controls *ngIf="message.type === MessageType.Recording">
                <source [src]="message.content" type="audio/ogg">
            </audio>
            <!-- <audio *ngIf="message.isRecording" [src]="message.content" controls></audio> -->

            <video *ngIf="message.type === MessageType.Video" [src]="message.content" controls></video>

            <img *ngIf="message.type === MessageType.Image" [src]="message.content" controls/>


            <p class="time"> {{message.createdAt|date:'shortTime'}}
            </p>
        </div>
    </div>
    <send-bar (msgSended)="sendMsg($event)" (recMsgSended)="sendRecording($event)" (imgMsgSended)="sendImg($event)"></send-bar>
    <!-- <p>chat-content works!</p> -->
    <!-- <div *ngIf="chat">
        {{chat.createdAt}}
        {{chat.id}}
    </div> -->
</section>