@font-face {
    font-family: helvetica-neue-normal;
    src: url(../../fonts/helvetica/Helvetica-Neue-normal.ttf);
}
@font-face {
    font-family: helvetica-neue-bold;
    src: url(../../fonts/helvetica/Helvetica-Neue-bold.ttf)
}