<section class="container main-layout " routerLink="chat/{{chat._id}}" longPress (mouseLongPress)="onLongPress($event)">
    <div class="chat-preview flex align-center">
        <div class="preview-img">
            <img [src]="chat.imgUrl">
        </div>
        
        <div class="preview-details flex column space-between">
            <p class="chat-name">{{chat.name}}</p>
            <p class="chat-content">{{chat.messages[0].from.name}}: {{chat.messages[0].content}}</p> 
            <!--TODO: GET THE FIRST MESSAGE IN A BETTER WAY-->
        </div>
        
        <div class="date-container flex column align-center">
    <p class="time">{{lastMsgTime}}</p>
    <div *ngIf="chat.unReadCount" class="unread-count">{{chat.unReadCount}}</div>
    </div>
    </div>

</section>






<!-- <p>{{chat._id}}</p>
<p>{{chat.name}}</p>
<p>{{chat.imgUrl}}</p>
<div>prticipants: <p *ngFor=" let participant of chat.prticipants">prticipant name: {{participant.name}}</p></div>
<div>messages: <p *ngFor=" let message of chat.messages">message contant: {{message.content}}</p></div>
<p>unReadCount: {{chat.unReadCount}}</p>
<p>isGroup: {{chat.isGroup}}</p>
<p>isMute: {{chat.isMute}}</p>
<p>createdAt: {{chat.createdAt}}</p> -->