<!-- TODO: put the routerLing from the click in function with condition for creating new chat if there is no chatId -->
<section class="container main-layout " (click)="openChat()" 

    (mouseLongPress)="onLongPress($event)">
    <div class="chat-preview flex align-center">
        <div class="preview-img">
            <img [src]="chat?chat.chatImage:contact.profileImage||avatarImage">
        </div>

        <div class="preview-details flex column space-between">
            <p class="chat-name">{{chat?chat.name:contact.fullName}}</p>
            <p class="chat-content" *ngIf="chat">{{'chat.messages[0].from'}}:
                {{chat?chat.messages[0].content:contact.about}}</p>
        </div>

        <div class="date-container flex column align-center">
            <p class="time" *ngIf="chat">{{lastMsgTime}}</p>
            <div *ngIf="chat&&chat.unReadCount" class="unread-count">{{chat.unReadCount}}</div>
        </div>
    </div>

</section>






<!-- <p>{{chat.id}}</p>
<p>{{chat.name}}</p>
<p>{{chat.imgUrl}}</p>
<div>prticipants: <p *ngFor=" let participant of chat.prticipants">prticipant name: {{participant.name}}</p></div>
<div>messages: <p *ngFor=" let message of chat.messages">message contant: {{message.content}}</p></div>
<p>unReadCount: {{chat.unReadCount}}</p>
<p>isGroup: {{chat.isGroup}}</p>
<p>isMute: {{chat.isMute}}</p>
<p>createdAt: {{chat.createdAt}}</p> -->