<section class="group-filter main-layout ">
    <div class="filter-container flex">
        <div class="text-filter flex space-between align-center">
            <div contenteditable="true" placeholder="Search or start new chat"></div>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <button class="unread-filter">
            <span class="material-symbols-outlined">
                filter_list
            </span>
        </button>

    </div>
</section>