@import '../../../assets/styles/setup/variables';

.chat-header {
    background-color:$secondery-green;
    color: white;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;

    .chat-header-container {    
        z-index: 10;
        height: 8vh;


        .back-button {

            color: white
        }


        .group-img {

            height: 45px;
            border-radius: 50%;

            img {
                height: 100%;
                padding-inline-end: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .group-details {
            flex: 1;

            .group-name {
                font-weight: bold;
            }

            .partincipants {
                font-size: 0.8em;
            }
        }

        .actions {
            margin-left: auto;

            button {
                color: white;
                background-color: transparent;
            }
        }

        &.search {

            // background-color: aqua;
            input {
                flex: 1;
                background-color: transparent;
                font-size: 1.1em;
                color: white;
                border: none;
                border-bottom: 1px solid white;

                // border-bottom-style: groove;
                &:focus {
                    outline: 0px solid transparent;
                }

            }

            button {
                background-color: transparent;
            }

            span {
                color: white;
            }
        }
    }


}